[Unit]
Description=Hoarder service
After=podman-user-wait-network-online.service


[Container]
LogDriver=passthrough
Image=ghcr.io/hoarder-app/hoarder:release

Volume=hoarder.volume:/data

Environment=MEILI_ADDR=http://127.0.0.1:7700
Environment=BROWSER_WEB_URL=http://127.0.0.1:9222
Environment=DATA_DIR=/data
EnvironmentFile=.env

Pod=hoarder.pod

[Install]
WantedBy=default.target

[Service]
# Extend timeout to 15 minutes so pull doesn't fail
TimeoutStartSec=900
Restart=always
