[Container]
EnvironmentFile=.env
HealthCmd=pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=20s
HealthTimeout=5s
Image=docker.io/library/postgres:17-alpine
Volume=authentik-db.volume:/var/lib/postgresql/data
LogDriver=passthrough
Pod=authentik.pod
AutoUpdate=registry

[Install]
WantedBy=default.target

[Service]
# Extend timeout to 15 minutes so pull doesn't fail
TimeoutStartSec=900
Restart=always

