[Container]
EnvironmentFile=.env
Exec=worker
Image=ghcr.io/goauthentik/server:2025.6
Volume=./media:/media
Volume=./certs:/certs
Volume=./custom-templates:/templates
Pod=authentik.pod
User=1000
Group=1000
AutoUpdate=registry

[Service]
Restart=always


[Install]
WantedBy=default.target

[Service]
# Extend timeout to 15 minutes so pull doesn't fail
TimeoutStartSec=900
Restart=always

