[Container]
Image=docker.io/crowdsecurity/crowdsec:v1.6.8
Pod=crowdsec.pod

Volume=crowdsec-etc.volume:/etc/crowdsec
Volume=crowdsec-data.volume:/var/lib/crowdsec/data
Volume=traefik-logs.volume:/var/log/traefik:ro

Environment=COLLECTIONS=crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/base-http-scenarios crowdsecurity/appsec-generic-rules crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-crs
Environment=LEVEL_DEBUG=true

[Service]
Restart=always

