# traefik.container
[Container]
Image=traefik:latest
Network=slirp4netns:port_handler=slirp4netns
PublishPort=8080:80
Volume=./traefik.yml:/etc/traefik/traefik.yml:ro
Volume=./dynamic.yml:/etc/traefik/dynamic.yml:ro

[Service]
Restart=always

